@use "../../assets/styles/mixins" as mixin;

.footer {
  height: 209px;
  background: #000;
  color: white;

  gap: 50px;

  font-size: 1.5rem;
  font-weight: var(--fw-medium);

  @include mixin.xs {
    font-size: 0.75rem;
    gap: 20px;
  }
}
