@use "./assets/styles/mixins" as mixin;

.appContainer {
  min-height: 100vh;
  padding-top: 45px;

  display: flex;
  flex-direction: column;
  gap: 50px;

  @include mixin.xs {
    padding-top: 20px;
    gap: 25px;
  }
}

.appContainer main {
  gap: 50px;

  @include mixin.xs {
    gap: 25px;
  }
}
