/* Global reset for layout */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base styles for the body */
body {
  font-family: var(--font-family);
  font-weight: var(--fw-regular);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hides content visually but keeps it accessible for screen readers */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}
