@use "./mixins" as mixin;

body {
  font-family: var(--font-family);
  font-weight: var(--fw-regular);
  font-size: 1.125rem;

  color: #000;

  @include mixin.xs {
    font-size: 0.75rem;
  }
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;

  &:hover,
  &.active {
    text-decoration: underline;
  }
}
