.container {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
}

/* Hides content visually but keeps it accessible for screen readers */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
