:root {
  // Font family
  --font-family: "Montserrat", sans-serif;

  // Font font-weight
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  // color
  --color-primary: #ff6060;
  --color-primary-dark: #e55050;
}
